<div class="btn-group" dropdown  >
    <button id="button-basic" dropdownToggle type="button" class="btn btn-danger dropdown-toggle" aria-controls="dropdown-basic">
      Viewing as:
      <span *ngIf="selectedEngineer; then selectedName; else selectedAll">{{selectedEngineer.name}}</span>
      <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic" name="selected_engineer">
      <li role="menuitem">
            <a class="dropdown-item" href="#" (click)="selectEngineer(null)">
              All
            </a>
      </li>
      <li *ngFor="let engineer of engineers; let i=index;"  role="menuitem">
        <a class="dropdown-item" href="#" (click)="selectEngineer(engineer)">
          {{engineer.name}}
        </a></li>
    </ul>
  </div>

<ng-template #selectedName>
    {{selectedEngineer.name}}
</ng-template>

<ng-template #selectedAll>
    All
</ng-template>